body{
  background-color: #d6f6ff;
}

.containerr{
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 100vh;
}

.topDiv{
  display: flex;
  flex-direction: row;
  background-color: aqua;

}

.logoutBtn{
  margin-left: auto;
}

.title{
  background-color: rgb(255, 168, 168);
  display: flex;
  width: 100vw;
  font-size: 3vw;
  justify-content: center;
}

.titleUnWrap{
  margin-right: 1em;

}

.titleWrap{

}