/* Full viewport wrapper */
body {
    overflow: hidden;
  }
  
  .login-wrapper {
    background: #101828;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  /* Login container styles */
  .login-container {
    width: 65vw;
    height: 75%; 
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .right-side {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.779);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    margin-left: 0.1vw;
  }
  
  .smaller-text {
    font-size: 1.2vw;
    font-weight: 600;
  }
  
  .text-box-small {
    font-size: 1vw;
    padding: 0.25rem;
    width: 18vw;
    text-align: start;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  .custom-button {
    background-color: #00B4D8;
    margin-top: 2vw;
    border: none;
    width: 40%;
    height: 6.5vh;
    text-align: center;
    color: white;
    font-size: 1.1vw;
    border-radius: 0.5vw;
    transition-duration: 0.5s;
  }
  
  .custom-button:hover {
    background-color: #03045E;
    transform: scale(1.05);
  }
  
  .welcome-heading {
    font-weight: 500;
    font-size: 2rem;
    color: black;
  }
  
  .register-heading {
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    font-size: 3vw;
    background-color: #03045E;
    border-radius: 50px;
    color: white;
    padding: 1vw;
    
    
  }
  
  .form-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  
  
  
 
  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */
  