body {
    overflow: hidden;
  }
  
  .login-wrapper {
    background: #101828;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  .email-input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .password-input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .login-button{
    background-color: #0580f3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .text-center{
    text-align: center;
    margin-bottom: 20px;
  }

  .login-container{
    text-align: center;
    display: block;
    margin-top: 20px;
  }
  .Password-container{
    text-align: left;
    display: block;
    color: white;
  }
  .email-container{
    text-align: left;
    display: block;
    margin-top: 20px;
    color: white;
  }

  h2{
    color: white;
  }