.container {
    display: flex;
    height: 100vh;
    /* width: 10%; */
}

.main-content {
    flex-grow: 1;
    background-size: cover;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

.content {
    display: flex;
    width: 73vw;
    height: 550px;
    margin-left: 30px;
    margin-right: 50px;
    font-size: 16px;
    border-radius: 20px;
    background-color: rgb(166, 167, 167);
}