.navbar_base{
  height: 100vh;
  width: 100%;
  background-color: #638fff;
  display: flex;
  flex-direction: column;

  padding: 0;
  color: #F5F5F5;
  padding-top: 5vh;
}
.navbar {
  display: flex;
  
  padding: 0; /* Ensure no padding */

}

.navbar a {
  color: white;
  padding: 0;
  line-height: 1.4rem;
  border-radius: 10px;
  padding: 1.1vw;
  text-decoration: none;
  margin: 0.2vh;
  width: 100%;
  text-align: left;
  font-size: 1.4vw;
  transition-duration: 0.3s;
}

.navbar a:hover {
  background-color: #ebebeb;
  color: #6791FB;
}

.logout{
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 1.2rem;
  margin-top: auto;
  text-align: center;
  padding: 1.5vh;
  transition-duration: 0.3s;
  cursor: pointer;
  

}



.logout:hover {
  color: #ff0000;
}
